.wrapper {
    position: relative;
    margin: 1rem;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
}

input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 1.5rem;
    border-radius: 0.75rem;
    background: #60A5FA;
}

input[type=range]::-moz-range-track {
    -webkit-appearance: none;
    height: 1.5rem;
    border-radius: 0.75rem;
    background: #60A5FA;
}

input[type=range]::-moz-range-progress {
    background: #60A5FA;
    height: 1.5rem;
    border-radius: 0.75rem 0 0 0.75rem;
}

input[type=range]::-ms-track {
    -webkit-appearance: none;
    height: 1.5rem;
    border-radius: 0.75rem;
    background: #b5d8ff;
    color: transparent;
    border: 0;
}

input[type=range]::-ms-fill-lower {
    background: #1e3650;
    border-radius: 0.75rem 0 0 0.75rem;
}


input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background: #3B82F6;
    cursor: pointer;
    margin: -10px;
}

input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background: #3B82F6;
    cursor: pointer;
    margin: -10px;
}

input[type=range]::-ms-thumb {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background: #3B82F6;
    cursor: pointer;
    margin: -10px;
}


.thumb_overhead{
    position: absolute;
    width:170px;
    height:47px;
    background-color: #FFFFFF;
}