@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {

    /**/
    .w-24-12{
        width:50.4%
    }
    .l-24-0 {
        left: -1%;
    }
    .l-24-1 {
        left: 4.2%;
    }
    .l-24-2 {
        left: 8.4%;
    }
    .l-24-3 {
        left: 12.6%;
    }
    .l-24-4 {
        left:16.8%;
    }
    .l-24-5{
        left:21%;
    }
    .l-24-6{
        left:25.2%;
    }
    .l-24-7{
        left:29.4%;
    }
    .l-24-8{
        left:33.6%;
    }
    .l-24-9{
        left:37.8%;
    }
    .l-24-10{
        left:42%;
    }
    .l-24-11{
        left:46.2%;
    }
    .l-24-12{
        left:50.4%;
    }
    .l-24-13{
        left:54.6%;
    }
    .l-24-14{
        left:58.8%;
    }
    .l-24-15{
        left:63%;
    }
    .l-24-16{
        left:67.2%;
    }
    .l-24-17{
        left:71.4%;
    }
    .l-24-18{
        left:75.6%;
    }
    .l-24-19{
        left:79.8%;
    }
    .l-24-20{
        left:84%;
    }
    .l-24-21{
        left:88.2%;
    }
    .l-24-22{
        left:92.4%;
    }
    .l-24-23{
        left:96.6%;
    }
    .l-24-24{
        left:99.8%;
    }
}
